<%- include('partials/header'); %>
    <h1>Welcome to <%= title %></h1>
    <p>Please select ADD FLIGHT to add a new flight or ALL FLIGHTS to view all flights in the database.</p>
<%- include('partials/footer') %>